.browse {
    text-align: center;
}

.search-area {
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.search-bar {
    display: inline-block;
    width: 1000px;
    height: 45px;
    border: 1px solid rgb(61, 61, 0);
    font-size: 30px;
}

.browse-content {
    border: 1px solid gray;
    width: 90%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.browse-survey {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    margin: 20px;
    width: 20%;
    height: 100px;
    flex-grow: 1;
    text-align: left;
    padding: 10px;
}

.survey-title { 
    font-size: 20px;
    font-weight: bold;
}

.survey-footer {
    font-size: 15px;
    color:rgb(75, 75, 75)
}