@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
    --color0: rgb(230, 230, 230);
    --color1: rgb(229, 190, 255);
    --color2: rgb(130, 26, 199);
    --color3: rgb(255, 206, 206);
    --color4: rgb(27, 156, 15);
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.txt-ctr {
    text-align: center;
}

.card {
    /* border: 1px solid brown; */
    background-color: var(--color0);
    display: inline-block;
    text-align: left;
    padding: 10px 30px 20px 30px;
    margin-top: 40px;
    width: 600px;
    max-width: 80%;
    border-radius: 20px 40px;
}

h2 {
    text-align: center;
    margin: 20px;
}

h3 {
    margin: 5px 0px 5px 0px;
}

input, textarea {
    width: 100%;
    font-family: inherit;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline: 5px solid var(--color1);
}

button {
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    margin: 18px 0px 18px 0px;
    border-radius: 20px;
    color: white;
    background-color: var(--color2);
    border: 5px solid var(--color0);
}

button:focus, button:hover {
    outline: none;
    border: 5px solid var(--color1);
}

button:active {
    outline: none;
    transform: scale(0.95);
}