:root {
    --color0: rgb(218, 218, 218)
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.txt-ctr {
    text-align: center;
}

.form {
    /* border: 1px solid brown; */
    background-color: var(--color0);
    display: inline-block;
    text-align: left;
    padding: 10px 30px 20px 30px;
    margin-top: 40px;
    width: 600px;
    max-width: 80%;
    border-radius: 20px 40px;
}

.form h2 {
    text-align: center;
    margin: 20px;
}

.form h3 {
    margin: 5px 0px 5px 0px;
}

.form input, textarea {
    width: 100%;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}

.form button {
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    margin: 10px 0px 10px 0px;
}