.message {
    display: block;
    text-align: center;
    color: var(--color4);
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.option-ctrl {
    margin-left: 20px;
}

button.inline-btn {
    background-color: white;
    color: gray;
    padding: 5px 0px;
    width: 50px;
    margin: 0px 5px 0px 5px;
    border: none;
}

button.inline-btn:hover {
    filter: brightness(1.4);
}






