@import '../Browse/Browse.css';

.profile-surveys {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.profile-survey {
    width: var(--card-wide-width);
}

.profile-surveys-header {
    font-size: 20px;
    font-style: oblique;
}

.browse-survey-delete {
    color: gray;
    margin-right: 8px;
}

.browse-survey-delete:hover {
    cursor: pointer;
    text-decoration: underline;
}