.comment-box {
    background-color: white;
}

.add-comment-btn{
    width:20%;
}

.comment-username {
    float:left;
    font-weight:bold;
}

.comment-content {
    float:left;
    margin-top: 20px;
}

.comment-date {
    color: gray;
    font-style: italic;
}