.comment-div {
    margin: 20px;
}

/* COMMENT INPUT */

.comment-input-area{
    display: inline-block;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 20px;

}

.comment-box {
    width: 100%;
    margin: 20px 0px;
}

.comment-add-btn {
    margin: 0px; 
}


/* COMMENT AREA */

.comment-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-card {
    margin: 20px 0px;
}

.comment-header {
    display: block;
}

.comment-username {
    display: inline-block;
    font-weight: bold;
    margin-right: 20px;
}

.comment-date {
    display: inline-block;
    color: gray;
    font-style: italic;
}

.comment-content {
    display: block;
    margin: 20px 0px;
}

.comment-modify-button {
    color: gray;
    margin-right: 8px;
}

.comment-modify-button:hover {
    cursor: pointer;
    text-decoration: underline;
}