.comment-input-area{
    display:flex;
}
.comment-box {
}

.comment-area{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.add-comment-btn{
    width:20%;
}

.comment-username {
    float:left;
    font-weight:bold;
}

.comment-content {
    background: white;
}

.comment-date {
    color: gray;
    font-style: italic;
}