.survey-description {
    margin: 40px 0px 40px 0px;
}

.survey-card {
    background-color: var(--color0);
}

.survey-card h2 {
    color: #1d183d;
}

.survey-option {
    background-color: white;
    padding: 20px 40px 20px 40px;
    width: 80%;
    border-radius: 4em 8em;
    margin: 20px 0px 20px 0px;
    border: 5px solid transparent;
    transition-duration: 200ms;
}

.survey-option:hover {
    border: 5px solid var(--color1);
    transform: translateX(5px);
}